body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#68a8b4f8;

}
h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}
h3{
    font-size: 1em;
    color: #010000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h4{
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    height: 40px;
    width: 120px;
    font-size: 110%;
}
p{
    font-size: 1.2em;
    color: #010000;
    letter-spacing: 0em; 
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background:#bdeaf3f8;
    padding: 10px 20px;
    border-color:#bdeaf3f8 ;
    border-radius: 8%;
}
#mydiv
{
    height: auto;
    width: auto;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 10px; 
    transform-style: preserve-3d;
    perspective: 500px;
}

#btn{
    margin-top: 20px;
    padding: 12px 24px; /*פדינג מוגדל לכפתורים*/
    font-size: 16px;
    background-color:#68a8b4f8; /* צבע רקע לכפתור */
    color: rgba(0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* אנימציית מעבר חלקה */
}

/* עיצוב לריחוף על הכפתור */
#btn:hover {
    background-color:#418c9bf8; /* צבע רקע לריחוף */
    color: rgba(255,255,255);
    transform: scale(1.05); /* הגדלה קלה בעת ריחוף */
}